html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: -1;
  margin: 0;
  background: #9e9e9e;
  font-size: 1.2em;
}

header {
  height: 4em;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: white;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

.thumbnails {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 5px;
  color: #444;
  margin-left: auto;
  margin-right: auto;
}

.box {
  color: #000;
  height: 100%;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0px;
  border-radius: 10px;
  background-color: white;
}

.power {
  width: 50%;
  height: 50%;
  float: left;
}

.power iframe {
  width: 100%;
  height: 100%;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #212121;
  border-radius: 10px
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #555;
  color: white;
}